.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --dark-theme-text-color: #FFFFFF;
    --accent-color:#2196F3;
}
body {
    background-color: var(--dark-theme-text-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header start */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;

}

.header-logo{
    margin-right: 93px;
}

.header .navigation .logo-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.nav-list,
.navigation,    
.contact-list,
.header-page {
    display: flex;
    align-items: center;
}

.head-item {
    margin-right: 50px;
}

.nav-list-item {
    color: var(--primary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-list {
    margin-left: auto;
}


.nav-list-item:hover,
.nav-list-item:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contact-mail, .contact-number {
    color: var(--secondary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-list-icon {
    margin-right: 10px;
    fill: currentColor;
}


/* Header end */

/* Studio main start */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.main.jpg");
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0px auto;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    background-color: #2F303A;
}


.main-title {
    color: var(--dark-theme-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 700px;
    height: 120px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    color: var(--dark-theme-text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    min-width: 200px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 24px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-req{
    padding-top: 94px;
}

.list-flex {
    display: flex;
}

.req-list-item:not(:last-child) {
    margin-right: 30px;
}

.req-list-item {
    width: 270px;

}

.req-icon-box {
    display: flex;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
}

.req-list-icon {
    display: block;
}

.img-list-item:not(:last-child) {
    margin-right: 30px;
}

.list>.desc-title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.desc-title {
    margin-bottom: 10px;
}

.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.hero {
    background: #F5F4FA;
}

.hero-desc{
    padding: 30px;

}

.hero-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-list-item:not(:last-child) {
    margin-right: 30px;
}

.hero-list-name {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.hero-list-title {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: none;
    border-radius: 50%;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list-icon {
    fill: #AFB1B8;
}


.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
    fill: var(--dark-theme-text-color);
}

.client-list {
    display: flex;
}

.client-list-item {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-list-link {
    display: flex;
}

.client-list-item:not(:last-child) {
    margin-right: 30px;
}

.client-list-icon {
    fill: #AFB1B8;
}


.client-list-link:hover{
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

/* Studio main end */

/* Portfolio main start */

.btn-filter {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    min-width: 50px;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--dark-theme-text-color);
    background-color: var(--accent-color);
}

.portfolio-list{
    flex-wrap: wrap;
}

.portfolio-list-item {
    width:calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:nth-child(3n){
    margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.portfolio-desc{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-list-item .desc-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.filter-list{
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-list-item:hover,
.filter-list-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.desc-title-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}



/* Portfolio main end */

/* Footer start */

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer .logo-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-theme-text-color);
    
}

.contact-box{
    margin-top: 20px;
    width: 231px;
}

.footer-contact {
    display: block;
    justify-content: center;
    margin-right: 70px;
}

.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

.footer-mail, .footer-number {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item{
    margin-bottom: 12px;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-number:hover,
.footer-number:focus {
    color: var(--accent-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.join {
display: block;
justify-content: center;
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list-item-footer:not(:last-child) {
    margin-right: 10px;
}

.social-list-footer {
    display: flex;

}

.social-list-icon-footer {
    fill: var(--dark-theme-text-color);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--accent-color);
}

.desc-title-footer {
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* Footer end */